push constant 5
call Lucas.lucas 1
pop static 0

label END
goto END

function Lucas.lucas 3
    push argument 0
    push constant 0
    eq
    if-goto LUCAS_BASE_CASE_0

    push argument 0
    push constant 1
    eq
    if-goto LUCAS_BASE_CASE_1

    push constant 2
    pop local 0
    push constant 1
    pop local 1
    push argument 0
    push constant 2
    sub
    pop local 2

label LUCAS_LOOP
    push local 2
    push constant 0
    eq
    if-goto LUCAS_END_LOOP

    push local 0
    push local 1
    add
    pop temp 0

    push local 1
    pop local 0
    push temp 0
    pop local 1
    push local 2
    push constant 1
    sub
    pop local 2
    goto LUCAS_LOOP

label LUCAS_BASE_CASE_0
    push constant 2
    return

label LUCAS_BASE_CASE_1
    push constant 1
    return

label LUCAS_END_LOOP
    push local 1
    return
